Mastodon.py>=2.0.0
atproto
git+https://www.github.com/accessibleapps/sound_lib
git+https://www.github.com/accessibleapps/accessible_output2
git+https://www.github.com/accessibleapps/keyboard_handler
pyinstaller
pyperclip
wxpython
